<div class="testimonial-page-container">
  <div class="left-side">
    <span class="star-wrapper">⭐️</span>
    <p class="review-description">
      Reviewers is where people can access guidelines, checklists,
      and other tools to assist them in reviewing papers or manuscripts.
      It provides a structured approach to ensure that the review process
      is thorough, efficient, and consistent.
    </p>
    <ul class="review-ckecklist">
      <li>Checklist to Review an Academic Paper</li>
      <li>Peer Review Checklist</li>
      <li>Checklist for Editors, Reviewers, and Authors of SPIE Journals</li>
    </ul>
  </div>
  <div class="right-side">
    <div class="card-google">
      <h2>Samantha Lee</h2>
      <p>The checklist ensures that the review process is thorough</p>
    </div>
    <div class="card-meta">
      <h2>Rachel Patel</h2>
      <p>I highly recommend the Writecream Business Description</p>
    </div>
  </div>
</div>
