<div class="testimonial-page-container container">
  <div class="row mt-4">
    <div class="left-side col-sm col-lg-5 offset-1">
      <span class="star-wrapper">⭐️</span>
      <h1 class="review-title">Reviewers</h1>
      <p class="review-description">
        Reviewers is where people can access guidelines, checklists,
        and other tools to assist them in reviewing papers or manuscripts.
        It provides a structured approach to ensure that the review process
        is thorough, efficient, and consistent.
      </p>
      <ul class="review-ckecklist list-group">
        <li>
          <i class="checkmark"></i>
          <span class="padding-list">Checklist to Review an Academic Paper</span>
        </li>
        <li>
          <i class="checkmark"></i>
          <span class="padding-list">Peer Review Checklist</span>
        </li>
        <li><i class="checkmark"></i>
          <span class="padding-list">Checklist for Editors, Reviewers, and Authors of SPIE Journals</span>
        </li>
      </ul>
    </div>
    <div class="right-side col-sm col-lg offset-2">
      <div class="card-testimonial">
        <img src="/assets/images/google-testimonial.png" class="img-fluid image-card me-4" alt="Google">
        @for (star of starsGoogle; track star.id) {
          @if(star.type === 'fill') {
            <img src="/assets/images/star-fill.svg" class="img-fluid" alt="Google Star">
          }
          @else {
            <img src="/assets/images/star-fill-gray.svg" alt="Google Star">
          }
        }
        <h6 class="fw-bold pt-3">Samantha Lee</h6>
        <p class="fw-normal text-dark-emphasis">The checklist ensures that the review process is thorough</p>
      </div>
      <div class="card-testimonial margin-right-card">
        <img src="/assets/images/meta-testimonial.png" class="img-fluid image-card me-4" alt="Meta">
        @for (star of starsMeta; track star.id) {
          @if(star.type === 'fill') {
            <img src="/assets/images/star-fill.svg" class="img-fluid" alt="Meta Star">
          }
          @else {
            <img src="/assets/images/star-fill-gray.svg" alt="Meta Star">
          }
        }
        <h6 class="fw-bold pt-3">Rachel Patel</h6>
        <p class="fw-normal text-dark-emphasis">I highly recommend the Writecream Business Description</p>
      </div>
    </div>
  </div>
</div>
